* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
fonts
*/

@font-face {
	font-family: 'vazir';
	src: url('../fonts/vazir/Vazir.woff2') format('woff2'),
	url('../fonts/vazir/Vazir.ttf') format('truetype'),
	url('../fonts/vazir/Vazir.woff') format('woff'),
	url('../fonts/vazir/Vazir.eot') format('eot')
}

/*
variable
*/
:root {
	--clr-primery: #e2711d;
	--clr-primery-light: #ffb627;
	--clr-gray-1: #102a42;
	--clr-gray-2: #617d98;
	--clr-gray-3: #f1f5f8;
	--clr-wight: #ffffff;
	--ff-primery: "vazir", sans-serif;
	--borderRadius: 0.5rem;
	--transition: all 300ms linear;
}

body {
	background-color: var(--clr-wight);
	font-family: var(--ff-primery), serif;
	font-size: 1rem;
	color: var(--clr-gray-1);
	text-align: right;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1rem;
}

img {
	width: 100%;
	display: block;
}


@media screen and (min-width: 992px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.25rem;
	}
}


.btn {
	background: var(--clr-primery);
	padding: 0.5rem 1rem;
	border-radius: var(--borderRadius);
	color: var(--clr-wight);
	transition: var(--transition);
	display: inline-block;
}


.btn:hover {
	background: var(--clr-primery-light);
	color: var(--clr-primery);
}

.clearFix::before, .clearFix::after {
	content: "";
	clear: both;
	display: block;
}

.section-info h3 {
	color: var(--clr-primery);
}

.section-info {
	margin-bottom: 1rem;
}

/*
Header
*/

.header {
	height: 100vh;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
	url("../assets/images/header.jpg") center/cover no-repeat fixed;
}

.banner {
	text-align: center;
	margin-top: 50vh;
	display: inline-block;
	width: 100%;
	transform: translateY(-50%);
}

.banner h1 {
	color: var(--clr-primery);
	margin-bottom: 1.75rem;
}

.banner h2 {
	color: var(--clr-wight);
	margin-bottom: 3rem;
}

.btn-banner {
	outline: 0.125rem solid var(--clr-primery);
	outline-offset: 0.25rem;
}

.content-divider {
	height: 0.5rem;
	background: linear-gradient(to right, var(--clr-primery), var(--clr-primery-light), var(--clr-primery));
}

.features {
	background: var(--clr-gray-3);
}

.feature {
	text-align: center;
	height: 18rem;
	padding: 2.5rem 0;
	transition: var(--transition);
	cursor: pointer;

}

.feature:hover {
	background: var(--clr-wight);
	box-shadow: 0 0.15rem 0 var(--clr-primery);
}

.feature:hover .feature-icon {
	transform: translateY(-0.5rem);
}

.feature-icon {
	font-size: 2rem;
	color: var(--clr-primery);
	margin-bottom: 0.75rem;
	display: inline-block;
	transition: var(--transition);
}

.feature-title {
	margin-bottom: 1rem;
}

.feature-text {
	font-size: 1rem;
	color: var(--clr-gray-2);
	padding: 0 2rem;
	text-align: center;
	max-height: 6.5rem;
	overflow: hidden;
}

@media screen and (min-width: 576px) {
	.feature {
		float: right;
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.feature {
		float: right;
		width: 25%;
	}
}

/*
about
*/

.section-center {
	padding: 4rem 0;
	width: 85vw;
	margin: 0 auto;
	max-width: 1200px;
	align-self: center;
}

.about-img {
	padding: 2rem 0;
	display: inline-block;
}

.wrapperAbout-pic {
	max-width: 30rem;
	border: 0.3rem solid var(--clr-primery);
	border-radius: var(--borderRadius);
	overflow: hidden;
	background: var(--clr-primery);
	margin: 0 auto 0 0;
}

.about-pic {
	transition: var(--transition);
}

.wrapperAbout-pic:hover .about-pic {
	transform: scale(1.2);
	opacity: 0.7;
}

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}

	.about-img {
		width: 50%;
		float: left;
	}

	.about-info {
		width: 50%;
		float: right;
		margin: 5rem 0;
	}
}

.about-text {
	color: var(--clr-gray-2);
}

.btn-about {
	margin-top: 1.5rem;
}

/*
product
*/

.products {
	background: var(--clr-gray-3);
}

.products-info {
	margin-bottom: 1rem;
}

.products-text {
	color: var(--clr-gray-2);
	margin-bottom: 1rem;
	max-width: 26rem;
	text-align: justify;
}

.product-cart {
	margin-top: 2rem;
}

.product-img {
	border-radius: var(--borderRadius);
	margin-bottom: .75rem;
	height: 17rem;
	object-fit: cover;
}

.price-product {
	color: var(--clr-primery);
	margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
	.product-cart {
		float: right;
		width: 50%;
		padding-left: 2rem;
	}
	.products-text{
		max-width: 40rem;
	}
}

@media screen and (min-width: 992px) {
	.product-cart {
		float: right;
		width: 33.33%;
	}
	.products-text{
		max-width: 60rem;
	}
}

@media screen and (min-width: 1200px) {

	.product {
		float: left;
		width: 70%;
	}

	.products-info {
		float: right;
		width: 30%;
		padding-top: 2rem;
		margin-bottom: 0;
	}
	.product-cart {
		margin-bottom: 0;
		padding-right: 2rem;
		padding-left: 0;
	}
}
